<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>faderjam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>568B8C8E1DA648FA0011CD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568B8CA71DA648FB0011CD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568B8CB21DA648FB0011CD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
